<html>
    <head>

        <title>Repolyzer</title>
        <script src="js/angular.min.js"></script>
        <link rel="stylesheet" href="assets/style.css">

        </head>

    <body onload="document.body.setAttribute('class','loaded')">

        <div ng-app="repolyzer" ng-controller="main">

            <div id="authmodal">
                <div>
                    <h1>This app requires github authorization.

                    </h1>
                    <h2 style="color:red">Warning: Do not load a repo with more than about 500 commits here for now.</h2>
                    <button ng-click="auth()">Continue to github to authorize</button>
                </div>
            </div>
            <div id="notifications">

            </div>
            <div id="controls">

                <caption for="projectname">Project Name:</caption>
                <input type="text" name="projectname" placeholder="owner/reponame" ng-model="projectname">

                <button name="Load" ng-click="load()">Load</button>



                <caption for="Repolyzer">&nbsp;Analyze this repo:</caption>
                 <button name="Repolyzer" ng-click="load('weeny/repolyzer')">Repolyzer</button>


            </div>
            <div id="controls2">
                <caption><a href="{{ commit.url }}" target="_blank">{{ commit.sha }}</a></caption>
                <button name="prev" ng-click="first()">&lt;&lt;</button>
                <button name="prev" ng-click="prev()">&lt;</button>
                <button name="next" ng-click="next()">&gt;</button>
                 <button name="last" ng-click="last()">&gt;&gt;</button>
            </div>
            <div id="workspace">

            </div>

        </div>


    </body>
        <script src="js/app.js">   </script>
         <script src="js/github.api.js"></script>


</html>
