<html>
    <head>
        <script type="text/ng-template" id="/file.tpl">
        <div class="file">
        <span class="filename" ng-model="filename">{{ model.filename }}</span>
        <span class="size" ng-model="filesize">{{ model.filesize }}</span>
        <span class="num" ng-model="numcommits">{{ model.filesize }}</span>
        </div>

        </script>
        <title>Repolyzer</title>
        <script src="js/angular.min.js"></script>
        <link rel="stylesheet" href="assets/style.css">

        </head>

    <body onload="document.body.setAttribute('class','loaded')">

        <div ng-app="repolyzer" ng-controller="main">

            <div id="authmodal">
                <div>
                    <h1>This app requires github authorization.

                    </h1>
                    <button ng-click="auth()">Continue to github to authorize</button>
                </div>
            </div>
            <div id="notifications">

            </div>
            <div id="controls">

                <caption for="projectname">Project Name:</caption>
                <input type="text" name="projectname" placeholder="owner/reponame" ng-model="projectname">

                <button name="Load" ng-click="load()">Load</button>
                <button name="Squishy" ng-click="load('weeny/repolyzer')">Repolyzer</button>
                <button name="Repolyzer" ng-click="load('fluffhub/squishy')">Squishy</button>

            </div>
            <div id="workspace">

            </div>

        </div>


    </body>
        <script src="js/app.js">   </script>
         <script src="js/github.api.js"></script>


</html>
